<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ndp.picodiploma.ProjectAkhir">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoejima"
        tools:targetApi="31">
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.RiwayatActivity"
            android:exported="false" />
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.SuccessActivity"
            android:exported="false" />
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.DetailServiceActivity"
            android:exported="false" />
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.GetStarted"
            android:exported="false"/>
        <activity
            android:name="com.ndp.picodiploma.ProjectAkhir.MainActivity"
            android:exported="false" />
    </application>

</manifest>